.my-header {
  height: var(--header-width);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: var(--white);
  transition: all 1s ease;

  .bg-logo {
    height: 5rem;
  }

  a {
    font-weight: 500;
  }
}